#questionPage{
  width: 100%;

}

#form{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  width: 80%;
  padding: 7px;
  border:none;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
  font: 25px Arial, Helvetica, sans-serif;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 20%;
  margin-top: -50px;
  margin-left: -100px;
}
#askMeNav{
  margin: 0 auto;
}

a{text-decoration: none;
color:black;}
a:visited{color:black;}
#button{
  position: absolute;
  top: 65%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #eeeeee; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
#button:hover {
    background-color: #4da6ff; 
}

#answerPage{
  width: 100%;
  padding: 7px;
  position: relative;
  margin: 0 auto;
}

#questionAskedColumn{
  font-size: 34px;
  font-family: arial;
  float:left;
  width:45%;
  max-height:100%;
  text-align: center;
  position: relative;
  margin-top: 15%;

}

#answerColumn{
  font-size: 34px;
  font-family: arial;
  float:left;
  width:45%;
  max-height: 400px;

}

#answerContainer{
  width:100%;
  position: relative;
 
}

#answer{
  position:fixed;
  top:40%;
  left:59%;
  z-index: 2;
  width:20%;
  text-align: center;
}

#notHappyButton, #askAgainButton{
  background-color: #eeeeee;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 4px;
  font-family: arial;
}
/*MEDIA*/
@media only screen and (max-width: 1100px) {
  #questionPage{
    width: 100%;
  }
  #questionAskedColumn{
  font-size: 24px;
  font-family: arial;
 /* float:left;*/
  width:100%;
/*  max-height:100%;*/
  text-align: center;
/*  position: relative;*/
/*  border:solid;*/
  display:block;
}

#answerColumn{
  font-size: 24px;
  font-family: arial;
  float:left;
  width:100%;
  max-height: 400px;
  display: block;
} 
#answerContainer{
/*  width:100%;*/
  position: absolute;

  margin:0 auto;
  display: block;
  margin-top: 10%;
}
img{width:500px;
  margin: 0 auto;
  display: block;
}

#answer{
  position:relative;
  display: block;
  z-index: 2;
  text-align: center;
 
}

@media only screen and (max-width: 1100px) {
  #questionPage{
    width: 100%;
  }
  #questionAskedColumn{
  font-size: 24px;
  font-family: arial;
  float:left;
  width:100%;
  text-align: center;
  position: relative;
  display:block;
}

#answerColumn{
  font-size: 24px;
  font-family: arial;
  float:left;
  width:100%;
  max-height: 400px;
  display: block;
} 
#answerContainer{
  width:100%;
  position: relative;
  margin:0 auto;
  display: block;
  margin-top: 10%;
}
img{width:300px;
  margin: 0 auto;
  display: block;
}

#answer{
  position:absolute;
  top:30%;
  left:33%;
  z-index: 2;
  width:35%;
  text-align: center;
  font-size: 16px;
  margin-top:5%;

}
#notHappyButton{padding:2%;}



#form{
  left: 35%;
}
}
